#heading{
  color: white;
  text-align: center;
  border: solid;
  border-color: lightgray;
  border-radius: 20px;
}
body{
  background-color: #27576d;
}


.button{
  color: black;
  background-color: lightgray;
  padding:10px;
  align-items: center;
  margin:auto;
  font-size: 20px;
  width: 40px;
  height: 50px;
  text-align: center;
  
}
.buttonDummy{
  color: #afeeee;
  background-color: #27576d;
  padding:10px;
  
}
#result{
  border: solid;
  border-color: lightgray;
  color:white;
  text-align: center;
  font-size: 20px;
  width:160px;
  margin: auto;
}
table,td{
  font-size: 20px;
}
.numbers{
  margin-left: auto;
  margin-right: auto;
}
.operations{
  margin-left:auto;
  margin-right: auto;
}
.ac{
  font-size: 20px;
  margin-left:auto;
  margin-right: auto;
}
#buttonac{
  height: 50px;
  width: 50px;
}
